 <!-- Footer start -->
 <footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 m-b-xs-30">
                    <div class="footer-widget-area">
                      <h2>À PROPOS </h2>
                         <p>
                          Tunexpo permet à nos fournisseurs d’être visible sur internet (Facebook, site web, applications… ) <br>
                          Notre objectifs c’est facilité la diffusion des offres à nos clients.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 m-b-xs-30">
                    <div class="footer-widget-area">
                        <h3 class="widget-title">Liens directs</h3>
                        <ul class="footer-widget">
                            <li>
                                    <a [routerLink]="['/fournisseurs']" routerLinkActive="active" >
                                      <i class="fa fa-angle-right"></i>
                                      Nos Fournisseurs

                                    </a>
                            </li>
                            <li>
                              <a [routerLink]="['/services']" routerLinkActive="active" >
                                <i class="fa fa-angle-right"></i>
                                 Nos Services
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/appel/offre']" routerLinkActive="active" >
                                <i class="fa fa-angle-right"></i>
                                Nos Offres
                              </a>
                            </li>
                            <li>
                              <a  [routerLink]="['/actualite']" routerLinkActive="active" >
                                <i class="fa fa-angle-right"></i>
                                Actualité</a>
                            </li>
                            <li>
                              <a [routerLink]="['/contact']" routerLinkActive="active" >
                                  <i class="fa fa-angle-right"></i>
                                  Contact
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-5 col-sm-6 col-xs-12 m-b-xs-30">
                    <div class="footer-widget-area">
                        <h3 class="widget-title">Contact Us</h3>
                        <div class="cta-area">
                            <div class="cta-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="logo-right-text">
                                <h4>Address</h4>
                                <p>Route de Tunis Monji Slim . Imm Amen2 B9 </p>
                            </div>
                        </div>
                        <div class="cta-area">
                            <div class="cta-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="logo-right-text">
                                <h4>Phone</h4>
                                <p>+216 97 559 344 </p>
                            </div>
                        </div>
                        <div style=" min-width: 300px;" class="cta-area">
                            <div class="cta-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="logo-right-text">
                                <h4>Envoyez-Nous Un Mail</h4>
                                <p>contact@bestsol.tn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <p>Tous les droits reservés. Copyrights &copy; 2020.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="go-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</footer>
<!-- Footer end -->
