

        <!-- Page title section start -->
        <section style="background: url('../../assets/images/appeloffre.jpg') no-repeat;    background-position-y: center;"  class="page-title p-t-120 p-b-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-area">
                            <h1 style="font-size: 83px;"><span>Publier vos appels d'offres  </span> </h1>
                            <h1 style="font-size: 83px;padding-top: 30px;"><span> gratuitement </span> </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page title section end -->

        <!-- Contact page section start -->
        <section class="contact-us section-light-grey p-t-70 p-b-70">
            <div class="container">
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <h1>Économisez du temps et de l'argent !
                            Assurez-vous les meilleures offres disponibles rapidement et gérez correctement vos prochains offres</h1>
                        <p style="    font-size: 21px;  padding-bottom: 26px;">
                            Déposez vos prochains appels d'offre sur notre plateforme et assurez-vous les meilleures opportunités d'achat et la réception illimitée des offres directement des fournisseurs concernés.
                        </p>
                    </div>

                    <div style="padding-top: 25px" class="col-md-12 col-sm-12">
                        <div class=" m-b-30">
                            <table border="1" class="table" style="color: black">
                               <thead style="background-color: #ff9800;
                               color: white;">
                                   <tr>
                                        <th>publié le</th>
                                        <th>pays</th>
                                        <th>description</th>
                                        <th>service</th>
                                        <th>expire le</th>
                                    </tr>
                               </thead>
                               <tbody>
                                        <tr *ngFor="let item of appel">
                                            <td>{{   SubstrService (item.created_at) }}</td>
                                            <td>{{  item.user.pays }}</td>
                                            <td>{{  item.description }}</td>

                                            <td>
                                                <a class="textUnderline" [routerLink]="['/service/' + item.service.id_service ]">
                                                     {{  item.service.nom_service }}
                                                 </a>
                                            </td>
                                            <td>{{ item.date_exp }}</td>
                                        </tr>

                               </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact page section end -->

        <!-- Newsletter section start -->
        <section class="newsletter-sec p-t-50 p-b-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h2>
                          obtenir les dernières nouvelles de<strong> Tunexpo</strong>
                        </h2>
                    </div>
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                        <div class="input-group newsletter">
                            <input class="form-control" placeholder="Subscribe our newsletter" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
